<div id="editBlockorAlertSuccess" class="{{alertSuccessClass}}" role="alert" hidden>
    {{alertSuccessMessage}}
</div>

<div class="modal fade" id="editBlockorModal" tabindex="-1" role="dialog">
    <form {{action "validate" on="submit"}} hidden={{messageSent}}>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" area-label="close">
                        <span class="fa fa-times" aria-hidden="true"></span>
                        <span class="sr-only">Close</span>
                    </button>

                    <h4 class="modal-title">
                        Edit Block
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="{{alertErrorClass}}" role="alert">
                        {{alertErrorMessage}}
                    </div>
                    {{input value=id id="ediBlockModalId" type="hidden"}}
                    <fieldset class="{{nameField}}">
                        <label for="name">
                            Name
                        </label>

                        {{input value=name id="editBlockModalName" type="text" class=nameInput placeholder="Name"}}
                    </fieldset>

                    <fieldset class="{{siteField}}">
                        <label for="site">
                            Site
                        </label>

                        {{input value=site id="editBlockModalSite" type="text" class=siteInput placeholder="Site"}}
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="reference">
                            Reference
                        </label>

                        <select  onchange={{action "changeReference" value="target.value"}} class="form-control" name="editBlockModalReference"value="reference" id="editBlockModalReference">
                            {{#each surveyors as |surveyor|}}
                                <option value="{{surveyor.id}}">{{format-surveyor surveyor}}</option>
                            {{/each}}
                        </select>

                    </fieldset>

                    <fieldset class="form-group">
                        <label for="reference">
                            Created:
                        </label>
                        <p id="editBlockModalCreated"></p>
                    </fieldset>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>

                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>